@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceMono";
  src: local("SpaceMono"),
    url("./fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  cursor: none;
}

.bg {
  font-family: SpaceMono;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: red;
}
